<h1>New Design</h1>

<%= render 'form', design: @design %>

<%= link_to 'Back', designs_path %>
<div id="e"><p>triangle me moved</p></div>

<div id="b"><p>cirlce me</p></div>
      <!-- canvas -->
      <canvas id="c" width="1000" height="600"></canvas>
      <h1>test</h1>

            <!-- <canvas id="e" width="800" height="600"></canvas> -->
      <img src="../heart.png" id="heart" width="40" height="40">
      <img src="../box.png" id="box" width="40" height="40">
      <img src="../calendarBox.png" id="calendarBox" width="40" height="40">
