<h1>New Design</h1>
<div id="save"><p>save canvas</p></div>

<%= render 'form', design: @design %>

<%= link_to 'Back', designs_path %>

<div id="b"><p>draw a circle</p></div>
<button id="delete">Delete selected object(s)</button>
  <!-- canvas -->
  <canvas id="mainCanvas" width="1000" height="600"></canvas>

  <!--generate flourishes from DB  -->
  <div class="flourishes">
<!--
    <%@flourishes.each do |f|%>
      <%location = "http://res.cloudinary.com/michelleerica/image/upload/h_30/#{f.location_storage}.png"%>
      <%= (cl_image_tag location, :id => f.name)%>
    <%end%> -->
  </div>
<!--
<form action="" id="uploadForm">
  <input type="file" id="image_upload">

</form> -->

<%= cl_image_upload_tag(:design_id, :resource_type => :image, :html => {:class => "hidden_file", :id => 'image_upload' }) %>

<button type="button" name="TEST" id="saveButton">TEST</button>
