<div class="container">
  <h1>New Design</h1>


<%= render 'form', design: @design %>

</div>

<script>
 var designData = <%= raw @design.to_json %>;
 var elements = <%= raw @design.elements.to_json(include: :flourish) %>;

</script>
