<div class="container">
  <div class="row">

  <div class="col-xs-12 col-md-8">

<div id='explain'>
  <h1>What is bullet journal?</h1>

      <div>
      As explained by <a href="https://www.lifehacker.com.au/2016/09/the-bullet-journal-minus-the-hype-is-actually-a-really-good-planner/">lifehacker.com</a>, <p class='quoteLife'>
      a bullet journal is a notebook that accommodates a huge variety of planning schemes. You can create calendars and to-do lists, and you can also use it as a diary, a brainstorming notepad, and more. If you've ever bought a planner, but didn't love the design of the pre-printed pages, the bullet journal is your opportunity to make a planner that fits the way your brain works.<p/>
      </div>

      <div>
      The beauty (and the curse) of this hand-written calendar, is that you create it as you go, so you always have space for everything else you want to write.
      </div>

      <h1>What is bujoco?</h1>
      <div>
      The Bullet Journal Collective is a place for you to digitally template your bullet journal pages before transcribing them into your favourite planner. It takes the guess work out of bullet journal templating (and if you're lazy, you can just save the design down and print it off).

      You can also check out what designs other users have published (and steal their designs).
      </div>

    </div>
  </div>
</div>
</div>
